/**** FOOTER ****/

.footer {
   width: 100%;
   background: #404040;
   @include wrapper;
   border: 10px solid #000;
   border-top: none;
   box-sizing: border-box;
   @media #{$small-screen} {
      border: 20px solid #000;
      border-top: none;
   }
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

.footer__address {
   display: block;
   margin-left: 34px;
   @media #{$tablet} {
      float: left;
   }
}

.footer__address-logo {
   background: url('../images/logo-footer.png');
   background-size: contain;
   margin-top: 42px;
   display: inline-block;
   @include size(140px,35px);
   text-indent: -100000px;
}

.footer__address-content {
   font-size: 14px;
   line-height: 1.3;
   font-family: 'Source-Sans-Pro';
   color: #929699;
   margin-top: 18px;
}

.social-media {
   margin-top: 45px;
   @media #{$tablet} {
      margin-top: 100px;
   }
}

.social-media__icon {
   float: left;
   margin-right: 11px;
   a {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: #929699;
      color: #404040;
      text-align: center;
      font-size: 17px;
      line-height: 27px;
      &:hover {
         background-color: $giants-orange;
         color: #FFF;
      }
   }
}

// FORM
.footer__form {
   float: left;
   display: block;
   margin-top: 45px;
   margin-left: 34px;
   h4 {
      text-transform: uppercase;
      font-size: 14px;
      float: none;
   }
   @media #{$tablet} {
      float: right;
   }
}

form {
   margin-right: 34px;
   @media #{$tablet} {
      width: 277px;
   }
}

input, textarea {
      margin-top: 10px;
      display: block;
      width: 100%;
      height: 35px;
      border-radius: 2px;
      box-sizing: border-box;
      outline: none;
      border: none;
      border-radius: 2px;
      background-color: #585858;
      font-size: 13px;
      font-family: "Nexa-Bold";
      color: #868686;
      line-height: 1.6;
      text-align: left;
      padding-left: 13px;
   }

textarea {
   height: 100px;
   resize: none;
}

button {
   @include btn;
   font-family: 'Nexa-Bold';
   font-size: 14px;
   color: #FFF;
   background-color: $giants-orange;
   padding: 10px 30px;
   outline: none;
   border: none;
   border-radius: 2px;
   margin-top: 16px;
   margin-bottom: 75px;
   &:hover {
      cursor: pointer;
      background-color: #404040;
      border: 2px solid $giants-orange;
      padding: 8px 28px;
   }
}
