/**** TEAM ****/

.team {
   background-color: #000;
   background-image: url('../images/team-bg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left 50%;
   position: relative;
   &:after {
      content: '';
   	position: absolute;
      top: 0px;
      left: 43%;
      width: 27px;
   	height: 310px;
      background: #FFF;
      transform: skew(3.5deg);
   }
}

.team__content {
   position: relative;
   background-color: #fff;
   height: 100%;
   width: 50%;
   margin-left: 50%;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 16px 100%);
   h3 {
      padding-top: 46px;
      padding-left: 37px;
   }
   p {
      padding: 28px 30px 0 35px;
   }
   @media #{$laptop} {
      width: 50%;
      margin-left: 50%;
      p {
         padding-right: 35px;
      }
   }
}
